-e git://github.com/hellerstanislav/eve-mongoengine.git@01e983b0dcf80b95cdbee799e78405559cc6cca7#egg=eve_mongoengine
-e git://github.com/nicolaiarocci/eve/commit/c89f2b35a852a0d08b4a48d2c53bf759958125f3#egg=eve
