<p>Nickname: {{quake-name name}} {{#if bot}}(bot){{/if}}</p>
<p>Headmodel: {{headmodel}}</p>
{{#if names}}
<p>Previous nicknames:</p>
<ul>
{{#each names}}
<li>{{quake-name this}}</li>
{{/each}}
</ul>
{{/if}}