{{#if headmodel}}
<img src="/assets/headmodels/{{unbound headmodel}}.png">
{{/if}}

<p>Nickname: {{quake-name name}} {{#if bot}}(bot){{/if}}</p>
{{#if names}}
<p>Previous nicknames:</p>
<ul>
{{#each names}}
<li>{{quake-name this}}</li>
{{/each}}
</ul>
{{/if}}
<p>Last seen: {{last_seen}}</p>