<table class="table">
<tr>
    <th>Online</th>
    <th>Name</th>
    <th>Team</th>
    <th>Score</th>
    <th><span {{bind-attr class="isPolling::invisible :glyphicon :glyphicon-refresh"}}></span></th>
</tr>
{{#each}}
<tr>
    <td>{{#if online}}<span class="glyphicon glyphicon-ok"></span>{{/if}}</td>
    <td>{{#link-to 'player' this}}{{quake-name name}}{{/link-to}} {{#if bot}}(bot){{/if}}</td>
    <td>{{team}}</td>
    <td>{{score}}</td>
    <td>&nbsp;</td>
</tr>
{{/each}}
</table>