<section id="players">
<h3>Online players ({{length}})</h3>
    <ul id="player-list">
        {{#each}}
        <li>
          <label>{{name}}</label>({{team}})
        </li>
        {{/each}}
    </ul>
</section>