<section id="players">
<h3>Online players</h3>
    <ul id="player-list">
        {{#each}}
        {{#if online}}
        <li>
          <label>{{name}}</label>
        </li>
        {{/if}}
        {{/each}}
    </ul>
</section>