<table class="table">
<tr>
    <th>Player</th>
    <th>Game</th>
    <th>Vote</th>
</tr>
{{#each}}
<tr>
    <td>{{player.name}}</td>
    <td>{{game.mapname}}</td>
    <td>{{vote}}</td>
</tr>
{{/each}}
</table>