html, body {
  margin: 20px;
}

li.circle {
    list-style-type:circle;
}

.clickable {
    cursor: pointer;
}

@import 'vendor/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'quakecolors';