.quake-color-0 {
    color: black;
}
.quake-color-1 {
    color: red;
}
.quake-color-2 {
    color: green;
}
.quake-color-3 {
    color: yellow;
}
.quake-color-4 {
    color: blue;
}
.quake-color-5 {
    color: light-blue;
}
.quake-color-6 {
    color: pink;
}
.quake-color-7 {
    color: white;
}